#tributton
  .links
    %ul
      %li= link_to image_tag("navi/home.png",:alt=>"我的首頁",:class=>"barimg"),"user"
      %li= link_to image_tag("navi/share.png",:alt=>"看穿搭",:class=>"barimg"),"#"
      %li= link_to image_tag("navi/beauty.png",:alt=>"看達人",:class=>"barimg"),"beauty"
      %li= link_to image_tag("navi/dialogue.png",:alt=>"愛美話題",:class=>"barimg"),"#"
      %li= link_to image_tag("navi/store.png",:alt=>"時尚好店",:class=>"barimg"),"#"