#wrapper
  =partial "_partials/topbar"
  #leftnav
    %a{:href=>"index.html"}
      =image_tag("iwebkit5/home.png",:alt=>"home")
    %a{:href=>"javascript:history.back()",:alt=>"返回"}返回
  =partial "_partials/menu"  
  %span.beautytitle
    看達人
    %span.beautyword 
      看看女孩們都如何
      %em 漂亮穿搭
      、一起
      %em 分享美麗心得
  .graytitle 明星達人
  .beautystars
    %ul.pageitem
      - 4.times do
        %li.store
          .userimg
            =link_to image_tag( lorem.image ("90x100"),:alt=>""),"user"
          .userinfo
            .username= lorem.name
            .userintro= lorem.sentence
          .follow= link_to "follow","user",:class=>"buttons-follow_s"
          %span.arrow
  .graytitle 嚴選達人
  .beauty-wall
    %ul.pageitem
      - 8.times do
        %li.store
          .userimg
            =link_to image_tag( lorem.image ("90x100"),:alt=>""),"#"
          .userinfo
            .username= lorem.name
            .userintro= lorem.sentence
          .follow= link_to "follow","user",:class=>"buttons-follow_s"
          %span.arrow